.flash_message {
    font-weight: 700;
    color: #fff;
    background-color: #f11;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-top: -25px;
    margin-bottom: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}

/* danger button links */
.btn-danger>a {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.btn-danger>a:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
